@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 55px !important;
    font-weight: 700 !important;
    line-height: 64px !important;
  }
  
  h2 {
    font-size: 34px !important;
    font-weight: 600 !important;
    line-height: 50px !important;
  }
  
  h3 {
    font-size: 24px !important;
    font-weight: 500 !important;
    line-height: 40px !important;
  }
  
  h4 {
    font-size: 22px !important;
    font-weight: 400 !important;
    line-height: 34px !important;
  }
  
  h5 {
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 34px !important;
  }
  
  h6 {
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 34px !important;
  }
}


.upload-cloud-circle {
  fill: linear-gradient(180deg, #FFF 0%, #F0F6FF 100%);
  stroke-width: 1px;
  stroke: #EBF0FF;
  box-shadow: -5px -5px 10px 0px rgba(29, 29, 29, 0.15) inset, 4px 2px 4px 0px rgba(29, 29, 29, 0.03) inset;
}